h3 {
    
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
    
  }

  .content-margin{
    margin: 2rem;
  }

  .error-message {
    color: var(--ion-color-danger);
    
  }
