
<ion-content>
 <app-back-button routerLink="/user-profile"></app-back-button>
  
  <h3>Change Address</h3>
  <br>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="content-margin">

    

    <ion-list inset> 
      <ion-list-header><h1>Your Current Address:</h1></ion-list-header> 
      <ion-item><p>Barangay sample</p></ion-item> 
      <ion-item><p>Street sample</p></ion-item> 
    </ion-list> 

    <ion-item>
      <ion-label>Barangay</ion-label>
       <ion-select  [(ngModel)]="barangay" [ngModelOptions]="{standalone: true}" (ionChange)="selectedBarangay($event)"> 
         
         <ion-select-option value="Sta.Rita">Sta.rita</ion-select-option>
         <ion-select-option value="newCabalan">New Cabalan</ion-select-option>
         <ion-select-option value="oldCabalan">Old Cabalan</ion-select-option>
         <ion-select-option value="gordonHeights">Gordon Heights</ion-select-option>
         <ion-select-option value="Mbayuan">Mabayuan</ion-select-option>
         <ion-select-option value="Tabacuhan">Tabacuhan</ion-select-option>

       </ion-select>
     </ion-item>

     <app-input label="Street" formControlName="street" ngDefaultControl></app-input> 
     <!-- ErrorMessage.Street -->
     <div *ngFor="let error of errorMessages.street">
       <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
         <small class="error-message">{{error.message}}</small>
       </ng-container>
     </div>

    <br>
    <form-app-button>Update</form-app-button>
  </div>
    
</form>
</ion-content>
