<ion-content class="ion-padding">
  <img src="assets/images/OG-Market-place.png">

  <h1>Welcome,</h1>

  
  <h3>Sign in to continue!</h3>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <app-input label="Email" inputmode="email" formControlName="email" ngDefaultControl></app-input> 
    <!--ErrorMessage.Email-->
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf='email.hasError(error.type) && (email.dirty || email.touched)'>
        <small class="error-message" class="ion-padding">{{error.message}}</small>
      </ng-container>
    </div>
<br>
    <app-input label="Password" type="password" formControlName="password" ngDefaultControl></app-input>
    <!--ErrorMessage.Password-->
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <a routerLink="/forgot-pass" class="forgot-password-link">Forgot Password?</a>

    <form-app-button label = 'Login' routerLink="/home/listing"></form-app-button>
   
    <!-- <app-icon-button icon='logo-facebook' label='Connect with Facebook'></app-icon-button> -->
  </form>

  <p class="footer-text">I'm a new user, <a routerLink="/register">Sign Up</a></p>
</ion-content>