
<ion-content>
  <app-back-button routerLink="/user-profile"></app-back-button>
  
  <h3>Change Password</h3>
  <br>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="content-margin">
    
    <h1>Your Current Password:</h1>
    
    <ion-label><p>shown password</p></ion-label> <!--Dynamic user input typescript-->

    <app-input label="New Password"  inputmode="password" formControlName="password" ngDefaultControl></app-input>
    <!--ErrorMessage.Password-->
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf='password.hasError(error.type) && (password.dirty || password.touched)'>
        <small class="error-message" class="ion-padding">{{error.message}}</small>
      </ng-container>
    </div>
    <br>

    <app-input label="Confirm New Password"  inputmode="password" formControlName="password" ngDefaultControl></app-input>
    <!--ErrorMessage.Password-->
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf='password.hasError(error.type) && (password.dirty || password.touched)'>
        <small class="error-message" class="ion-padding">{{error.message}}</small>
      </ng-container>
    </div>
    <br>
    <form-app-button>Update</form-app-button>
  </div>
    
</form>
</ion-content>
