<ion-app>
  <ion-menu side="start" contentId="main-menu" class="styleToolbar">
   

     

    <ion-content>
      

      <ion-menu-toggle auto-hide="false">
        <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/images/face1.jpg" routerLink="user-profile">
        <ion-label>
          <h2>Yuri Garcia</h2>
          <p>UserEmail@gordoncollege.edu.ph</p>
        </ion-label>
      </div>
        <ion-list lines="none" class="menu-items">
          
          <ion-item routerLink="/user-profile">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>
              Address
            </ion-label>
          </ion-item>
          <ion-item routerLink="/user-profile">
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>
              09343523546 
            </ion-label>
          </ion-item>
        </ion-list>

      </ion-menu-toggle>
      <div class="menu-items">
      <!-- <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Address 
        <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </ion-item> -->
    
      <ion-menu-toggle auto-hide="false">
        <ion-list lines="none">
<!-- 
          <ion-item menuclose [hidden]="!isRemainder" routerLink="/user-profile"
            [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
            <ion-icon name="chevron-forward-outline" slot="start"></ion-icon>
            User Barangay 
          </ion-item>

          <ion-item menuclose [hidden]="!isRemainder" routerLink="/user-profile"
            [queryParams]="{ type: 'birthday' }" menuClose class="sub-menu">
            <ion-icon name="chevron-forward-outline" slot="start"></ion-icon>
            User Street
          </ion-item> -->


          <ion-item routerLink="/login">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
      </div>  
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-menu"></ion-router-outlet>
</ion-app>