
<ion-content>
  <app-back-button routerLink="/user-profile"></app-back-button>
  
  <h3>Change User Name</h3>
  <br>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="content-margin">
    
    <h1>Your Current User Name:</h1>
    
    <ion-label><p>Full name label</p></ion-label> <!--Dynamic user input typescript-->
    
    <app-input label="New User Full Name"  inputmode="text" formControlName="fullname" ngDefaultControl></app-input>
    <!--ErrorMessage.Fullname-->
    <div *ngFor="let error of errorMessages.fullname">
      <ng-container *ngIf='fullname.hasError(error.type) && (fullname.dirty || fullname.touched)'>
        <small class="error-message" class="ion-padding">{{error.message}}</small>
      </ng-container>
  </div>
    <br>
    <form-app-button>Update</form-app-button>
  </div>
    
</form>
</ion-content>
